<div class="modal" id="signup-modal">
	<form class="form-group-lg" action="/signup" method="POST" autocomplete="off">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h4 class="modal-title">User Signup</h4>
			  </div>
			  <div class="modal-body">
				<div class="form-control-static">
					<label for="name"><i class="glyphicon glyphicon-user"></i> </label>
					<input type="text" id="name" name="name" placeholder="username" />
				</div>
				<div class="form-control-static">
					<label for="email"><i class="glyphicon glyphicon-envelope"></i> </label>
					<input type="email" id="email" name="email" placeholder="you@yourdomain.com" />
				</div>
				<div class="form-control-static">
					<label for="password"><i class="glyphicon glyphicon-lock"></i> </label>
					<input type="password" id="password" name="password" placeholder="password" />
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary btn-block" value="Signup" />
				<button type="button" class="btn btn-danger clost" aria-hidden="true" data-dismiss="modal">&times;</button>
			</div>
		</div>
	</form>
</div>