<!DOCTYPE html>
<html>
<head>
	<title>Webscraper | Loop PNG App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/glyphicons-halflings-regular.ttf">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-4 bg-default text-right">
			<section>
				<h1 class="text-primary">Introduction</h1>
				<div class="pill">
					<p class="text-default">Hello and welcome to my web scraping nodejs web application powered by x-ray! I created this simple web application to help me to compile daily publication logs.</p>
				</div>
			</section>
			<hr />
			<section>
				<h1 class="text-primary">Features</h1>
				<ul class="list-unstyled">
					<div class="panel panel-default">
						<li class="row panel-body">
							<div class="col-xs-9">
								<p class="text-default">This app has the ability to crawl through the whole website and extract publication info.</p>
							</div>
							<div class="text-left col-xs-3 h3">
								<i class="glyphicon glyphicon-check"></i>
							</div>
						</li>
					</div>
					<div class="panel panel-default">
						<li class="row panel-body">
							<div class="col-xs-9">
								<p class="text-default">The information extracted from the website are stored in MongoDB for later use.</p>
							</div>
							<div class="text-left col-xs-3 h3">
								<i class="glyphicon glyphicon-check"></i>
							</div>
						</li>
					</div>
					<div class="panel panel-default">
						<li class="row panel-body">
							<div class="col-xs-9">
								<p class="text-default">Daily publication statistics will be displayed in the form of line, pie or bar charts.</p>
							</div>
							<div class="text-left col-xs-3 h3">
								<i class="glyphicon glyphicon-check"></i>
							</div>
						</li>
					</div>
				</ul>
			</section>
		</div>
		<div class="col-sm-8">
			<div class="box-shadow well-lg bg-primary">
				<div class="text-right pull-right">
					<ul class="list-inline list-unstyled">
						<li><a href="/xray-ii" class="text-info"><span class="text-center btn btn-success pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Go to app</span></a></li>
						<li class="hidden-lg"><a href="#" data-description="2" class="text-info"><span class="text-center btn btn-warning pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Get description</span></a></li>
					</ul>
				</div>
				<span class="text-justify clearfix">
					<h1 class="title h1">X-Ray Web Scraper - II</h1>
					<p class="description hidden-sm">Witness the power of web scraping using javascript with this awesome javascript nodejs module, "x-ray". This is the second version! Be prepared to be shocked by the amazing x-ray npm package library! Click on the link provided to get there. :) have fun!</p>
				</span>
			</div>
			<hr />
			<div class="box-shadow well-lg bg-primary">
				<div class="text-right pull-right">
					<ul class="list-inline list-unstyled">
						<li><a href="/xray" class="text-info"><span class="text-center btn btn-success pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Go to app</span></a></li>
						<li class="hidden-lg"><a href="#" data-description="2" class="text-info"><span class="text-center btn btn-warning pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Get description</span></a></li>
					</ul>
				</div>
				<span class="text-justify clearfix">
					<h1 class="title h1">X-Ray Web Scraper</h1>
					<p class="description hidden-sm">Witness the power of web scraping using javascript with this awesome javascript nodejs module, "x-ray". Click on the link provided to get there. :) have fun!</p>
				</span>
			</div>
			<hr />
			<div class="box-shadow well-lg bg-primary">
				<div class="text-right pull-right">
					<ul class="list-inline list-unstyled">
						<li><a href="/scrape" class="text-info"><span class="text-center btn btn-success pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Go to app</span></a></li>
						<li class="hidden-lg"><a href="#" data-description="1" class="text-info"><span class="text-center btn btn-warning pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Get description</span></a></li>
					</ul>
				</div>
				<span class="text-justify clearfix">
					<h1 class="title h1">Web Scraper - Loop</h1>
					<p class="description hidden-sm">This app was created to scrape publication information off the Loop Pacific Websites. It is still in its development stages. I'm still experimenting and testing and thus I need time to do what I have to do. Its really tiring but I have to find a solution. Otherwise, I look like a fool! I need to do this and prove to myself that I can do it!</p>
				</span>
			</div>
			<hr />
			<div class="box-shadow well-lg bg-primary">
				<div class="text-right pull-right">
					<ul class="list-inline list-unstyled">
						<li><a href="/writeme" class="text-info"><span class="text-center btn btn-success pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Go to app</span></a></li>
						<li class="hidden-lg"><a href="#" data-description="2" class="text-info"><span class="text-center btn btn-warning pull-right"><i class="glyphicon glyphicon-chevron-right"></i> Get description</span></a></li>
					</ul>
				</div>
				<span class="text-justify clearfix">
					<h1 class="title h1">Experimenting FS</h1>
					<p class="description hidden-sm">This page was created to help me with testing out and experiment with the File System module which is built into NodeJS. It is not much, I have encountered some errors and I am still experimenting with the files and stuff! I am still trying to do my first successfull write to file! damn it!</p>
				</span>
			</div>
			<hr />
		</div>
	</div>
</div>
<script type="text/javascript">
	$("")
</script>
</body>
</html>