<aside ng-controller="topArticlesController">
	<aside class="col-xs-12 col-md-9 col-md-offset-3" id="top">
		<section class="row text-center">
			<div class="container col-md-12 col-sm-12" style="padding-top: 1em;"><% include ./top-5-text-layout %></div>
		</section>
	</aside>
</aside>
<main class="col-xs-12 col-md-9 col-md-offset-3" id="top" ng-controller="articlesController">
	<% include ./lsb %>
	<section class="col-md-12 text-right h1">{{daytime}}</section>
	<section class="row text-right text-uppercase">
	   <form class="form-inline">
			<div class="btn-group">
				<div class="checkbox btn btn-info"><label><input ng-model="showColumnDomain" type="checkbox" aria-label="Toggle ngHide"> Domain</label></div>
				<div class="checkbox btn btn-info"><label><input ng-model="showColumnPublisher" type="checkbox" aria-label="Toggle ngHide"> PACIFIC STRINGER</label></div>
				<!-- <div class="checkbox btn btn-info"><label><input ng-model="showColumnSource" type="checkbox" aria-label="Toggle ngHide"> Source</label></div> -->
			</div>
	   </form>
	</section>
	<section class="row text-center">
		<div class="row table-responsive">
			<table class="table table-striped" id="datatable">
				<thead class="text-left bg-primary text-uppercase alert">
					<td class="strong" ng-click="sortBy('date')"><div class="btn btn-block btn-primary">DATE</div></td>
					<td class="strong" ng-click="sortBy('title')"><div class="btn btn-block btn-primary">TITLE</div></td>
					<td class="strong" ng-click="sortBy('author')"><div class="btn btn-block btn-primary">AUTHOR</div></td>
					<td class="strong" ng-click="sortBy('category')"><div class="btn btn-block btn-primary">CATEGORY</div></td>
					<td class="strong check-element animate-show" ng-click="sortBy('domain')" ng-show="showColumnDomain"><div class="btn btn-block btn-primary">DOMAIN</div></td>
					<td class="strong check-element animate-show" ng-click="sortBy('publisher')" ng-show="showColumnPublisher"><div class="btn btn-block btn-primary">PACIFIC STRINGER</div></td>
					<!-- <td class="strong check-element animate-show" ng-click="sortBy('source')" ng-show="showColumnSource"><div class="btn btn-block btn-primary">SOURCE</div></td> -->
				</thead>
				<tbody>
					<tr class="text-left" ng-repeat="article in articles|orderBy:propertyName:reverse|filter:searchStringName" id="{{article._id}}">
						<td><a href="/export/png/{{article.pubdate}}" class="publication-date">{{ article.pubdate }}</a></td>
						<td><a href="{{article.link}}" target="_blank" title="{{article.title}}" class="reset clearfix article-title">{{ article.title }}</a></td>
						<td ng-if="article.author === NULL">Unspecified</td>
						<td ng-if="article.author != NULL">{{article.author}}</td>
						<td><span ng-repeat="category in article.category">{{ category }}</span></td>
						<td class="check-element animate-show" ng-show="showColumnDomain">{{ article.domain }}</td>
						<td class="check-element animate-show" ng-show="showColumnPublisher">{{ article.publisher }}</td>
						<!-- <td class="check-element animate-show" ng-show="showColumnSource">{{ article.source }}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</main>
