<form class="input-group form form-group" method="GET" action="/export/png/">
	<span class="input-group-btn">
		<button class="btn btn-primary datepicker"><i class="fa fa-calendar"></i></button>
	</span>
	<input id="datepicker" type="text" placeholder="pick a date" class="form-group-item input form-control col-md-3 text-center datepicker" ng-model="searchStringName" name="startDate"></input>
</form>