<form class="input-group form form-group" method="GET" action="">
	<span class="input-group-btn">
		<p class="btn btn-primary"><i class="fa fa-calendar"></i></p>
	</span>
	<input id="primary-filter" type="text" placeholder="pick a date" class="form-group-item input form-control col-md-3 text-center datepicker" ng-model="datefilter" name="datefilter"></input>
	<span class="input-group-btn">
		<p class="btn btn-primary"><i class="fa fa-globe"></i></p>
	</span>
	<input id="secondary-filter" type="text" placeholder="author, category, country" class="form-group-item input form-control col-md-9 text-center" ng-model="userfilter" name="userfilter"></input>
</form>