<div class="col-md-4">
	<h1 class="text-uppercase">widget area</h1>
	<p class="text-lowercase">widget area description</p>
</div>
<div class="col-md-4">
	<h1 class="text-uppercase">widget area</h1>
	<p class="text-lowercase">widget area description</p>
</div>
<div class="col-md-4">
	<h1 class="text-uppercase">widget area</h1>
	<p class="text-lowercase">widget area description</p>
</div>