<head>
	<meta name="google-site-verification" content="5IE5qwDyti43Fap3a0nnU0nyX_cgc9p9TwYN8jD-Y2Q" />
	<title> {{ pageTitle }} Articles | Loop Pacific Count</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include ./stylesheets %>
</head>
