<aside class="text-uppercase col-xs-offset-12 col-md-offset-0 col-md-3" id="sidebar-navigation">
  <h1 class="site-title text-center">{{pageTitle}}</h1>
  <div id="pageview-country">
    <label for="populate-content" class="text-default bg-primary mark full-width text-center">View</label>
    <ul class="nav nav-pills bg-default text-uppercase" id="populate-content">
      <li class="nav-item">
        <a href="/page/nauru" class="nav-link"><span><img class="img-responsive" src="/img/nau.png" title="NAURU"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/page/png" class="nav-link"><span><img class="img-responsive" src="/img/png.png" title="PAPUA NEW GUINEA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/page/samoa" class="nav-link"><span><img class="img-responsive" src="/img/sam.png" title="SAMOA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/page/tonga" class="nav-link"><span><img class="img-responsive" src="/img/ton.png" title="TONGA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/page/vanuatu" class="nav-link"><span><img class="img-responsive" src="/img/van.png" title="VANUATU"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link" title="home"><span><img class="img-responsive" src="/img/home.png" title="HOME"></img></span></i></a>
      </li>
    </ul>
  </div>
  <div id="populate-country">
    <label for="populate-content" class="text-default bg-primary mark full-width text-center">Populate</label>
    <ul class="nav nav-pills bg-default text-uppercase" id="populate-content">
      <li class="nav-item">
        <a href="/write/nauru" class="nav-link"><span><img class="img-responsive" src="/img/nau.png" title="NAURU"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/write/png" class="nav-link"><span><img class="img-responsive" src="/img/png.png" title="PAPUA NEW GUINEA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/write/samoa" class="nav-link"><span><img class="img-responsive" src="/img/sam.png" title="SAMOA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/write/tonga" class="nav-link"><img class="img-responsive" src="/img/ton.png" title="TONGA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/write/vanuatu" class="nav-link"><span><img class="img-responsive" src="/img/van.png" title="VANUATU"></img></span></a>
      </li>
    </ul>
  </div>
  <div id="delete-country">
    <label for="delete-content" class="text-default bg-primary mark full-width text-center">Delete</label>
    <ul class="nav nav-pills bg-default text-uppercase" id="delete-content">
      <li class="nav-item">
        <a href="/delete/nauru" class="nav-link"><span><img class="img-responsive" src="/img/nau.png" title="NAURU"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/delete/png" class="nav-link"><span><img class="img-responsive" src="/img/png.png" title="PAPUA NEW GUINEA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/delete/samoa" class="nav-link"><span><img class="img-responsive" src="/img/sam.png" title="SAMOA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/delete/tonga" class="nav-link"><img class="img-responsive" src="/img/ton.png" title="TONGA"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/delete/vanuatu" class="nav-link"><span><img class="img-responsive" src="/img/van.png" title="VANUATU"></img></span></a>
      </li>
      <li class="nav-item">
        <a href="/delete/all" class="nav-link"><span><img class="img-responsive" src="/img/home.png" title="ALL"></img></span></a>
      </li>
    </ul>
  </div>
  <div id="datepicker-counter">
    <div class="full-width gutter-narrow text-center">
      <div class="col-xs-9"><% include datepicker %></div>
      <div class="col-xs-3"><button id="export-btn" class="btn btn-success btn-block" data-export="export"><i class="glyphicon glyphicon-send"></i></button></div>
    </div>
    <div class="clearfix col-md-12 text-center" id="count">
      <h1 class="circle">{{articles.length}}</h1>
      <p class="text-uppercase" style="color: black; font-size: 1.25em;">total</p>
    </div>
  </div>
</aside>
<!-- <div class="aside col-xs-offset-11 btn btn-info"><i class="glyphicon glyphicon-globe"></i></div> -->