<aside id="sidebar-navigation" class="text-uppercase col-xs-offset-12 col-md-offset-0 col-md-3">
	<div id="lsbMobileMenu" class="aside btn btn-info hidden-md hidden-lg"><i class="fa fa-chevron-left"></i></div>
  <% include ./nav-items %>
  <hr>
	<% include ./search-form %>
</aside>