<main class="container" id="top">
	<section class="row text-center">
		<div id="content-header" class="row">
			<h3 class="text-primary">{{pageTitle}}</h3>
			<div class="row">
				<!-- <div class="col-md-12 text-center pull-right h1" id="graph"></div> -->
			</div>
		</div>
		<!-- <div href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</div> -->
		<div class="row"><% include datatable %></div>
	</section>
</main>
