<nav class="nav navbar-default navbar-fixed-top" id="navbar">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <p class="pull-right site-title"><i class="glyphicon glyphicon-fire"> </i> L &middot; R &middot; A &dash; 2.0</p>
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse text-uppercase" id="mobile">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="glyphicon glyphicon-flame"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="glyphicon glyphicon-flame"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="glyphicon glyphicon-flame"></i></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="text-primary active" href="/">home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Country <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a class="text-primary" href="/page/nauru">Nauru</a></li>
          <li><a class="text-primary" href="/page/png">PNG</a></li>
          <li><a class="text-primary" href="/page/samoa">Samoa</a></li>
          <li><a class="text-primary" href="/page/tonga">Tonga</a></li>
          <li><a class="text-primary" href="/page/vanuatu">Vanuatu</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Populate <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a class="text-primary" href="/write/nauru">nauru</a></li>
          <li><a class="text-primary" href="/write/png">png</a></li>
          <li><a class="text-primary" href="/write/samoa">samoa</a></li>
          <li><a class="text-primary" href="/write/tonga">tonga</a></li>
          <li><a class="text-primary" href="/write/vanuatu">vanuatu</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Delete <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a class="text-primary" href="/delete/nauru">nauru</a></li>
          <li><a class="text-primary" href="/delete/png">png</a></li>
          <li><a class="text-primary" href="/delete/samoa">samoa</a></li>
          <li><a class="text-primary" href="/delete/tonga">tonga</a></li>
          <li><a class="text-primary" href="/delete/vanuatu">vanuatu</a></li>
          <li><a class="text-primary" href="/delete/all">all</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>