<div class="container-fluid">
	<section class="text-center">
		<div class="clearfix col-sm-8">
			<h1 class="site-title">{{pageTitle}}</h1>
		</div>
		<div class="clearfix col-sm-4" id="count">
		  <h1 class="circle">{{articles.length}}</h1>
		</div>
	</section>
</div><hr>
<div id="view-country" class="clearfix">
	<ul class="nav nav-pills bg-default text-uppercase" id="country-list">
	  <li class="nav-item">
			<a href="/" class="nav-link" title="HOME">HOM</a>
	  </li>
	  <li class="nav-item">
				<a href="/page/nauru" class="nav-link">NAU</a>
	  </li>
	  <li class="nav-item">
				<a href="/page/png" class="nav-link">PNG</a>
	  </li>
	  <li class="nav-item">
				<a href="/page/samoa" class="nav-link">SAM</a>
	  </li>
	  <li class="nav-item">
				<a href="/page/tonga" class="nav-link">TON</a>
	  </li>
	  <li class="nav-item">
				<a href="/page/vanuatu" class="nav-link">VAN</a>
	  </li>
	  <li class="nav-item">
			<a href="/populate" class="nav-link" title="populate content">POP</a>
	  </li>
	  <li class="nav-item">
			<a href="/search" class="nav-link" title="search content">SCH</a>
	  </li>
	</ul>
</div>