<aside class="text-uppercase col-xs-offset-12 col-md-offset-0 col-md-3" id="sidebar-navigation">
	<div class="container-fluid">
		<h1 class="site-title text-center">{{pageTitle}}</h1>
	  <div id="pageview-country">
			<button class="btn btn-info text-default bg-primary mark full-width text-center">View</button>
			<ul class="nav nav-pills bg-default text-uppercase" id="populate-content">
			  <li class="nav-item">
					<a href="/page/nauru" class="nav-link">NAU<!-- <span><img class="img-responsive" src="/img/nau.png" title="NAURU"></img></span> --></a>
			  </li>
			  <li class="nav-item">
					<a href="/page/png" class="nav-link">PNG<!-- <span><img class="img-responsive" src="/img/png.png" title="PAPUA NEW GUINEA"></img></span> --></a>
			  </li>
			  <li class="nav-item">
					<a href="/page/samoa" class="nav-link">SAM<!-- <span><img class="img-responsive" src="/img/sam.png" title="SAMOA"></img></span> --></a>
			  </li>
			  <li class="nav-item">
					<a href="/page/tonga" class="nav-link">TON<!-- <span><img class="img-responsive" src="/img/ton.png" title="TONGA"></img></span> --></a>
			  </li>
			  <li class="nav-item">
					<a href="/page/vanuatu" class="nav-link">VAN<!-- <span><img class="img-responsive" src="/img/van.png" title="VANUATU"></img></span> --></a>
			  </li>
			  <li class="nav-item">
				<a href="/populate" class="nav-link" title="populate content">POP<!-- <span><img class="img-responsive" src="/img/home.png" title="POPULATE"></img></span> --></a>
			  </li>
  			  <li class="nav-item">
				<a href="/deeplink-me" class="nav-link" title="deeplink me">DeL<!-- <span><img class="img-responsive" src="/img/home.png" title="DEEPLINK"></img></span> --></a>
			  </li>
			</ul>
	  </div>
	</div>
	<div id="lsbMobileMenu" class="aside hidden-sm hidden-xs hidden-md col-xs-offset-11 btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i></div>
</aside>