<aside class="text-uppercase col-xs-offset-12 col-md-offset-0 col-md-3" id="sidebar-navigation">
	<div class="container-fluid text-center">
	  <% include ./nav-items %>
	</div>
	<div id="lsbMobileMenu" class="aside col-xs-offset-11 btn btn-info"><i class="fa fa-chevron-left"></i></div>
</aside>