<aside class="text-uppercase col-xs-offset-12 col-md-offset-0 col-md-3" id="sidebar-navigation">
	<div class="container-fluid">
		<h1 class="site-title text-center">{{pageTitle}}</h1>
	  <div id="pageview-country">
			<button class="btn btn-info text-default bg-primary mark full-width text-center">View</button>
			<ul class="nav nav-pills bg-default text-uppercase" id="populate-content">
			  <li class="nav-item">
					<a href="/" class="nav-link" title="HOME">hom</a>
			  </li>
			  <li class="nav-item">
					<a href="/page/nauru" class="nav-link">NAU</a>
			  </li>
			  <li class="nav-item">
					<a href="/page/png" class="nav-link">PNG</a>
			  </li>
			  <li class="nav-item">
					<a href="/page/samoa" class="nav-link">SAM</a>
			  </li>
			  <li class="nav-item">
					<a href="/page/tonga" class="nav-link">TON</a>
			  </li>
			  <li class="nav-item">
					<a href="/page/vanuatu" class="nav-link">VAN</a>
			  </li>
			  <li class="nav-item">
				<a href="/populate" class="nav-link" title="populate content">POP</a>
			  </li>
			</ul>
	  </div>
	</div>
	<div id="lsbMobileMenu" class="aside col-xs-offset-11 btn btn-info"><i class="fa fa-chevron-left"></i></div>
</aside>