<p class="h3 pill">Trending Top 5</p>
<p class="text-left panel" ng-repeat="article in articles" id="{{article._id}}">
	<strong>{{ article.title }}</strong><br />
	<a href="{{ article.link }}" title="">{{ article.link }}</a><br />
	<span>{{ article.description }}</span>
</p>