<!DOCTYPE html>
<html ng-app="ArticlesListing" data-country="png">
<%include ./partials/head %>
<body class="container-fluid full-width" >
	<h1 class="text-right">{{$scope.today}}</h1>
	<% include partials/contentContainer %>
	<% include partials/scripts/standard-scripts %>
	<% include partials/scripts/additional-scripts %>
	<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>