<!DOCTYPE html>
<html ng-app="PNGArticlesListing" data-country="png">
<head>
	<title>Loop Reporting App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include partials/stylesheets %>
</head>
<body class="container full-width">
<!-- main navigation inclusion from .ejs file -->

<main class="col-xs-12 col-md-9 col-md-offset-3" id="top">
	<div class="container-fluid">
		<div class="col-md-6 pull-right">
			<button id="export-btn" class="btn btn-success btn-block" data-export="export">Export Table</button>
		</div>
	</div>
	<section class="container-fluid">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead class="text-left bg-primary text-uppercase alert">
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Freelance</th>
						<!-- <th>Category</th> -->
					</tr>
				</thead>
				<tbody>
				<% result.map(function(data) { %>
					<tr>
						<td><%= data.title %></td>
					<% if (data.author) { %>
						<td><%= data.author %></td>
					<% } else if (data.source) { %>
						<td><%= data.source %></td>
					<% } else { %>
						<td>Unspecified</td>
					<% } %>
						<td>NO</td>
						<!-- <td><%= data.category %></td> -->
					</tr>
				<% }); %>
				</tbody>
			</table>
		</div>
<footer class="container-fluid bg-primary">
<% include partials/footer %>
</footer>
</main>
<!-- scripts inclusion from .ejs file -->
<% include partials/scripts %>
<!-- graphs inclusion from .ejs file  -->
<% include partials/graphs %>
<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>