<!DOCTYPE html>
<html data-country="home">
<head>
	<title>Webscraper | Loop PNG App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/glyphicons-halflings-regular.ttf">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="">
	<% include partials/fb-appconfig %>
	<% include partials/lsb %>
	<main class="col-xs-12 col-md-9 col-md-offset-4" id="top">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="fb-welcome"></h1>
			</div>
		</div>
		<div class="" ng-app="authorsListing">
			<div class="text-center">
				<section ng-controller="authorsController">
					<h1 class="text-primary">author Listings</h1>
					<p class="text-primary well">This is a sample application that adds your custom author to the database and then displays it in the list below after it has been added.</p>
					<div>
						<p>There are {{authors.length}} authors of this module</p>
						<div class="well text-right">
							<form class="form-inline" ng-submit="createAuthor()" id="add-author">
								<fieldset class="form-group">
									<label for="author-type">Type:</label>
								  <select class="form-control" id="author-type" name="authorType" ng-model="authorType">
								    <option value="Correspondent" selected="true">Correspondent</option>
								    <option value="Fulltime">Fulltime</option>
								    <option value="Publisher">Publisher</option>
								  </select>
								</fieldset>
								<fieldset class="form-group">
									<label for="authorFullName">Full Name</label>
									<input id="authorFullName" class="form-control" type="text" placeholder="New author name" name="authorName" ng-model="authorName" />
								</fieldset>
								<fieldset class="form-group">
									<button class="col-xs-8 form-control btn btn-success btn-sm" type="submit">Add Author</button>
								</fieldset>
							</form>
						</div>
						<ul class="list-unstyled list-group">
							<li id="author-{{author._id}}" class="container-fluid text-left list-group-item" ng-repeat="author in authors | orderBy: '_id': 'reverse'"><i class="col-xs-1 glyphicon glyphicon-chevron-right" style="line-height: 3;"></i>
								<div class="col-xs-10" style="line-height: 3;"><span class="italics">Author: </span>{{author.name}} |<span> Type: </span>{{author.type}}</div>
								<i class="col-xs-1 text-danger pull-right fade-in glyphicon glyphicon-trash btn btn-danger small" ng-click="removeAuthor()"></i>
							</li>
						</ul>
					</div>
				</section>
	<!-- <section ng-controller="reportingApplicationController"></section>	-->
			</div>
		</div>
	</main>
	<div class="btn-group btn-block">
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#login-modal">Login</button>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
	</div>
	<% include lockit/login-modal %>
	<% include lockit/signup-modal %>	
	<% include partials/scripts %>
<script src="/client/js/controllers/authors-controller.js"></script>
</body>
</html>