<!DOCTYPE html>
<html ng-app="PNGArticlesListing" data-country="png">
<head>
	<title>Loop Reporting App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include partials/stylesheets %>
	<style type="text/css" media="screen">
	</style>
</head>
<body class="container full-width" ng-controller="articlesController">
<!-- sidebar navigation inclusion from .ejs file -->
<% include partials/lsb %>
<!-- main container inclusion from .ejs file -->
<% include partials/mainContainer %>
<!-- scripts inclusion from .ejs file -->
<% include partials/scripts %>
<!-- graphs inclusion from .ejs file  -->
<% include partials/graphs %>
<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>