<!DOCTYPE html>
<html ng-app="PNGArticlesListing" data-country="png">
<head>
	<title>PNG Articles | Loop Reporting App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include partials/stylesheets %>
</head>
<body class="container-fluid full-width" >
	<div ng-controller="topArticlesController">
		<aside class="col-xs-12 col-md-9 col-md-offset-3" id="top">
			<section class="row text-center">
				<div class="container col-md-12 col-sm-12" style="padding-top: 1em;"><% include partials/top-5-text-layout %></div>
			</section>
		</aside>
	</div>
	<div ng-controller="articlesController">
		<% include partials/lsb %>
		<% include partials/mainContainer %>
	</div>
<% include partials/scripts/standard-scripts %>
<% include partials/scripts/additional-scripts %>
<% include partials/graphs %>
<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>