<!DOCTYPE html>
<html ng-app="PNGArticlesListing" data-country="png">
<%include ./partials/head %>
<body class="container-fluid full-width" >
	<% include ../js/fb-appconfig %>
	<% include partials/contentContainer %>
	<% include partials/scripts/standard-scripts %>
	<% include partials/scripts/additional-scripts %>
	<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>