<!DOCTYPE html>
<html ng-app="PNGArticlesListing" data-country="png">
<head>
	<title>Loop Reporting App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include partials/stylesheets %>
</head>
<body class="container full-width" ng-controller="articlesController">
<% include partials/lsb %>
<% include partials/mainContainer %>
<% include partials/scripts %>
<% include partials/graphs %>
<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>