<!DOCTYPE html>
<html ng-app="SamoaArticlesListing" data-country="samoa">
<head>
	<title>Loop Reporting App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% include partials/stylesheets %>
</head>
<body>
<% include partials/mainNavigation %>
<% include partials/mainContainer %>
<% include partials/scripts %>
<% include partials/graphs %>
<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>