<!DOCTYPE html>
<html ng-app="SamoaArticlesListing" data-country="samoa">
<%include ./partials/head %>
<body class="container full-width" >
	<% include partials/contentContainer %>
	<% include partials/scripts/standard-scripts %>
	<% include partials/scripts/additional-scripts %>
	<script src="/client/js/controllers/articles-client-controller.js"></script>
</body>
</html>